.carrehori {
	border-radius: 10px;
	width:80%;
	background-color:#909090;
	margin:10px auto;
	box-shadow: 8px 8px 12px #383232;
}

.carreverti-l {
	border-radius: 10px;
	width: 15%;
	height: 50%;
	background-color:#909090;
	margin:10px auto;
	float:left;
	margin-left: 12%;
	box-shadow: 8px 8px 12px #383232;
}

.carreverti-r {
	border-radius: 10px;
	width: 15%;
	height: 50%;
	background-color:#909090;
	margin:10px auto;
	float:right;
	margin-right: 12%;
	box-shadow: 8px 8px 12px #383232;
}

#day_of_the_42 {
	height:10%;
	margin-left: 5%;
}
